{% extends 'base.html.twig' %}


{% block body %}
	<style>
		.btn {
			font-size: 1.5rem;
			padding: 15px;
			border: ;
			border-radius: 20px;
			width: fit-content;
			height: fit-content;
		}

		.nav-container {
			display: flex;
			min-width: 50%;
			justify-content: space-around;
			align-items: end;
		}
	</style>
	<div>
		<div class="bg-secondary min-h-52 flex justify-around items-center">
			<img src="{{ asset('images/logo.svg') }}" alt="Logo">
			<div class="nav-container">
				<div>
					<p>Nav1</p>
				</div>
				<div>
					<p>Nav2</p>
				</div>
				<div>
					<p>Nav3</p>
				</div>
				<div>
					<p>Nav4</p>
				</div>
			</div>
			<a href="{{ app.user ? path('app_logout') : path('app_login') }}" class="btn bg-primary text-white py-2 px-4 rounded-full">
				{{ app.user ? 'Déconnexion' : 'Connexion' }}
			</a>

		</div>
	</div>
{% endblock %}
