@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 88, 45, 9;
    --color-secondary: 255, 255, 255;
    --black: 35, 31, 32, 0.64;
    --red: 239 68 68;
    --greyCustom: 128, 128, 128, 0.32;
    --brown: 40, 23, 9, 1;
    --fillGrey: 240, 240, 240, 1;
  }
}